.formControl.error input,
.formControl.error textarea {
  border: solid red 2px;
}

.formControl.error span {
  color: red;
}

.formSummaryError{
  border: red 1px solid;
  padding: 5px;
  color: red;
}